alembic==1.0.3
bcrypt==3.1.4
docker==4.0.2
Flask==1.0.2
flask_cors==3.0.7
flask-login==0.4.1
flask_sqlalchemy==2.3.2
flask_script==2.0.6
Flask-Admin==1.5.3
gunicorn==19.9.0
psycopg2-binary==2.7.6.1
simplejson==3.16.0
requests==2.20.1
pytest==4.0.0
pytest-flask==0.14.0
numpy==1.15.4
pandas==0.23.4
